.header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
    padding: 16px 64px;
    display: flex;
    align-items: center;
    // justify-content: space-between;

    &__logo {
        font-size: 1.3rem;
        font-weight: 600;
    }

    &__nav {
        margin-left: auto;

        a {
            text-decoration: none;
            color: rgba(0, 0, 0, .75);

            &:hover {
                color: rgba(0, 0, 0, 1);
            }

            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }

    &__new-project {
        padding: 0 40px;
        margin-left: 40px;
        border-left: 1px solid rgba(0, 0, 0, .25);
        border-right: 1px solid rgba(0, 0, 0, .25);
        font-weight: 600;
        cursor: pointer;

        a {
            display: inline-block;
            background-color: #03A9F4;
            border: 1px solid transparent;
            padding: 8px 16px;
            border-radius: 4px;
            text-decoration: none;
            color: white;
            transition: all .25s;

            &:hover {
                color: #03A9F4;
                background-color: white;
                border: 1px solid #03A9F4;

            }
        }
    }

}

.search {
    padding: 8px 0px 8px 40px;
    margin-left: 40px;
    border-left: 1px solid rgba(0, 0, 0, .25);
    display: flex;
    align-items: center;

    &__icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }

    &__input {
        // flex-basis: 240px;
        width: 320px;
        border: none;
        outline: none;
        font-size: 1rem;
        font-style: italic;
        color: rgba(0, 0, 0, .5)
    }
}

.profile {
    position: relative;

    margin-left: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;

    &:hover {
        background-color: white;
        border-color: rgba(0, 0, 0, .1);
    }

    &__icon {
        display: block;
        width: 20px;
        height: 20px;
    }

    &__dropdown {
        list-style-type: none;
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        min-width: 100%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
        background-color: #fff;
        opacity: 1
    }

    &:hover .profile__dropdown {
        display: block;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: block;

        &>li {
            // width: 100%;
            display: block;
            padding: 8px 16px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05)
            }
        }
    }
}